:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 1rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-actions {
  gap: 8px;
}
