<h1 *ngIf="isLoggedIn">Hello, {{name}}</h1>

<button mat-raised-button (click)="logout()">Logout</button>
<button mat-raised-button (click)="fetchUnsecure()">Fetch unsecure</button>
<div>{{unsecure}}</div>
<button mat-raised-button (click)="fetchSecure()">Fetch secure</button>
<div>{{secure}}</div>

<form *ngIf="!isLoggedIn" [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </mat-card-actions>
  </mat-card>
</form>

<form [formGroup]="registrationForm" (ngSubmit)="register()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
