<h1 *ngIf="isLoggedIn">Hello, {{name}} ({{roles}})</h1>

<button *ngIf="isLoggedIn" (click)="logout()" mat-raised-button>Logout</button>
<button (click)="fetchUnsecure()" mat-raised-button>Fetch unsecure</button>
<div>{{unsecure}}</div>
<button (click)="fetchSecure()" mat-raised-button>Fetch secure</button>
<div>{{secure}}</div>
<button (click)="fetchSecureAdmin()" mat-raised-button>Fetch data for admin</button>
<div>{{secureAdmin}}</div>

<form (ngSubmit)="login()" *ngIf="!isLoggedIn && !showRegistration" [formGroup]="loginForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="showRegistration = true">Register</button>
      <button color="primary" mat-raised-button type="submit">Sign in</button>
    </mat-card-actions>
  </mat-card>
</form>

<form (ngSubmit)="register()" *ngIf="showRegistration" [formGroup]="registrationForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="showRegistration = false">Sign-in</button>
      <button color="primary" mat-raised-button type="submit">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
