<h1 *ngIf="isLoggedIn">Hello, {{name}}</h1>

<button (click)="logout()" mat-raised-button>Logout</button>
<button (click)="fetchUnsecure()" mat-raised-button>Fetch unsecure</button>
<div>{{unsecure}}</div>
<button (click)="fetchSecure()" mat-raised-button>Fetch secure</button>
<div>{{secure}}</div>

<form (ngSubmit)="login()" *ngIf="!isLoggedIn" [formGroup]="loginForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button type="submit">Sign in</button>
    </mat-card-actions>
  </mat-card>
</form>

<form (ngSubmit)="register()" [formGroup]="registrationForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button type="submit">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
